.sect1Wrap {
    max-width: var(--maxWidth);
    font-family: var(--copyFont);
    width: 100%;
    margin: 0 auto;
    padding: 2em 24px;
}

/* & for GSAP */
.sect1Wrap > * {
    transform: translateY(20);
    opacity: 0;
}


.countdownWrap {
    border-radius: 40px;
    background: var(--pink);
    padding:.5em 1em .5em .5em;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: var(--lightWhite);
}

.seshLiveAnimate {
    animation: seshLive 4s infinite
}

@keyframes seshLive {
    0% {
        background-color: var(--darkPink);
    }
    50% {
        background-color: var(--pink);
    }

    100% {
        background-color: var(--darkPink);
    }
    
}

.sect1Content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5% 0 0 0;
}

.sect1Left, .sect1Right {
    flex: 1;
    display: flex;
    width: 100%;
}

.sect1Left img {
    width: 100%;
    height: auto;
}

.sect1Right {
    flex-direction: column;
}

.sect1Right p {
    padding: 10px 0;
    display: inline-block;
}

.iconSocialsWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.iconSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    cursor: pointer;
}

.iconSocial span {
    padding: 20px 0 0 0;
}

.iconCircle {
    padding: 20px;
    box-shadow: 3px 3px 84px rgba(46, 36, 32, 0.18);
    width: fit-content;
    border-radius: 100em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color .2s ease-out;
}

.iconCircle:hover {
    background-color: var(--pink);
}

.iconCircle svg {
    width: 40px;
    aspect-ratio: 1 / 1;
    fill: var(--pink);
    transition: fill .2s ease-out;
}

.iconCircle:hover svg {
    fill: var(--lightWhite);
}

@media only screen and (max-width: 768px) {

    .sect1Content {
        flex-direction: column;
    }

    .iconCircle {
        padding: 15px;
    }

    .iconCircle svg {
        width: 35px;
    }

    .sect1Left {
        justify-content: center;
    }
    .sect1Left img {
        max-width: 300px;
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {

    .sect1Wrap {
        padding: 1em;
    }

    .iconSocialsWrap {
        justify-content: space-around;
    }

    .iconCircle svg {
        width: 25px;
    }

    .iconSocial span {
        font-size: 12px;
    }

    .sect1Copy > span:not(:first-child) {
        padding: 5px 0;
    }

}

