.castWrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../../assets/vine2.png); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    --height: 70%;
}

.castContainer {
    width:95%;
    height:var(--height);
    display:grid;
    grid-template-rows: 70px 1fr;
    margin:1em 0 0 0;
    row-gap: 20px;
    position:absolute;
    opacity:0;
    top:10vh;
    transition: all .5s ease-out;
    transition-delay: .5s;
}

.castContainerFadeIn {
    opacity: 1;
    top:calc(50% - var(--height) / 2);
}

.slideUp {
    top: -100vh;
}

.castTitle > h1 {
    font-family: var(--displayFont);
    text-shadow: var(--textShadow);
    font-size: var(--h1);
}

.characterWrapper {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding:1em 0;
}

.castCard {
    width:100%;
    min-width: 250px;
    height:100%;
    background-color: var(--secondaryColor);
    position: relative;
    overflow:hidden;
    display: flex;
    justify-content: center;
    box-shadow: var(--textShadow);
    opacity: 0;
    left:5vw;
    transition: all .3s ease-out;
}

.castCardFadeIn {
    opacity:1;
    left:0;
}

.castCard img {
    height:100%;
    opacity: .4;
    transform: scale(100%);
    cursor: pointer;
    transition: all .5s ease-out;
}

.castCard img:hover {
    opacity:1;
    transform: scale(120%);
}

.castName {
    position: absolute;
    top:50%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    color: var(--dark);
    font-family: var(--displayFont);
    font-weight: var(--bold);
    font-size: 2rem;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.castCard img:hover ~ .castName {
    opacity:1;
}

/* cast display  */

.castDisplayWrapper {
    width: 100%;
    height: 0%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transition: height .5s ease-out;
}

.castDisplayWrapperHeight {
    height: 100%;
}

.castDisplayGrid {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    justify-items: center;
    align-items: center;
}

.castDisplayGrid > div {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.castImg img {
    width: 60%;
    box-shadow: var(--textShadow);
}

.castInfo {
    padding:2em;
}

.castInfoDiv {
    width: 100%;
    height: 100%;
    background-color: var(--secondaryColor);
    display:grid;
    grid-template-rows: 2fr 1fr 1fr 3fr 1fr;
    padding:1em 1em 1em 2em;
}

.displayName {
    font-family: var(--displayFont);
    font-weight: var(--bold);
    font-size: var(--h1);
    color: var(--fontColor);
}

.backButton > button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border:2px solid var(--fontColor);
    padding:10px 0;
    font-weight: var(--bold);
    color: var(--fontColor);
    font-size: 1.2rem;
}

