.sect3Bg {
    background-image: url('../../assets/images/sect3Bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect3Flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--lightWhite);
    padding: 20px 5%;
}

.sect3Flex > div {
    flex: 1;
    overflow-x: hidden;
}

.sect3Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.player {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    max-width: 425px;
}

.sect3Right {
    height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 29px;
}

.song {
    width: 100%;
    display: grid;
    grid-template-columns: 15px min-content max-content auto;
    column-gap: 10px;
    cursor: pointer;
}

.songPlaying {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeSong {
    width: 8px;
    aspect-ratio: 1 / 1;
    background-color: var(--lightWhite);
    border-radius: 100em;
    box-shadow: 0px 0px 5px #fff;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.songNum {
    opacity: .5;
}

.songName {
    transition: text-shadow .3s ease-out;
    opacity: .8;
}
.songLength {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

/* & responsive */
@media only screen and (max-width:768px) {
    .sect3Flex {
        flex-direction: column;
        row-gap: 40px;
        padding: 0;
        max-width: 425px;
    }

    .player {
        max-width: none;
    }

    .sect3Right {
        max-height: 200px;
    }
}

@media only screen and (max-width: 425px) {

    .sect3Bg {
        background-size: 200vw auto;
    }
}