.sect3Bg {
    background-image: url('../../assets/images/sect3Bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.sect3Flex {
    max-width: var(--maxWidth);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: var(--lightWhite);
    backdrop-filter: blur(26px);
    position: relative;
}

.sect3Flex > div {
    flex: 1;
}

.sect3Left, .sect3Right {
    padding: 20px 0 20px 0;
}

.sect3Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.musicSubhead {
    --size: 80px;
    --width: 120px;
    width: var(--width);
    position: absolute;
    top: calc(var(--size) / -4);
    left: calc(50% - var(--width) / 2);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicSubhead .musicSym {
    fill: var(--lightWhite);
    width: 100%;
    position: absolute;
}

.soundProg {
    position: absolute;
    stroke: var(--pink);
    stroke-width: 7;
    fill: none;
}

.parentSoundProg {
    transform: rotate(270deg);
}

.player {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    max-width: 425px;
    padding: 0 5%;
    margin: 50px 0 0 0px;
}


.audioControls {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.audioControls > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.audioControls svg {
    fill: var(--lightWhite);
}

.playPause {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    font-size: 70px;
}

.minus10 svg, .plus10 svg {
    width: 30px
}

.minus10 {
    justify-content: flex-end;
}

.plus10 {
    justify-content: flex-start;
}

.playBtn {
    height: 40px;
    justify-content: center;
}

.sect3Right {
    height: 230px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: var(--brown);
    font-size: 15px;
    
}

.song {
    width: 100%;
    display: grid;
    grid-template-columns: 15px min-content max-content auto;
    column-gap: 10px;
    cursor: pointer;
}

.songPlaying {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeSong {
    width: 8px;
    aspect-ratio: 1 / 1;
    background-color: var(--lightWhite);
    border-radius: 100em;
    box-shadow: 0px 0px 5px #fff;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.songNum {
    opacity: .5;
}

.songName {
    transition: text-shadow .3s ease-out;
    opacity: .8;
}
.songLength {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}



/* & responsive */
@media only screen and (max-width:768px) {
    .sect3Flex {
        flex-direction: column;
        row-gap: 40px;
        padding: 0;
        max-width: 425px;
    }

    .sect3Right {
        overflow-x: hidden;
    }

    .player {
        max-width: none;
        margin: 70px 0 0 0;
    }

    .sect3Right {
        max-height: 200px;
    }

    
}


@media only screen and (max-width: 425px) {

    .sect3Bg {
        background-size: auto 100vh;
        padding: 15% 4%;
        background-attachment: initial;
    }
    
}