.aboutWrapper {
    width: inherit;
    height: 100vh;
    position: relative;
    display:flex;
    padding:2em;
    background-image: url(../../assets/flowersClip.png);
    background-repeat: no-repeat;
    background-size: 47%;
    background-position: left -5vw bottom;
}

.aboutCopy {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1.5fr 2fr;
    width: 100%;
}

.d20 {
    color: var(--fontColor);
    stroke: var(--fontColor);
    --diceWidth: 250px;
    fill: var(--fontColor);
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    position: relative;
}

.d20svg {
    width: var(--diceWidth);
    position: absolute;
    top:calc(50% - var(--diceWidth) / 2);
    left:calc(50% - var(--diceWidth) / 2);
    opacity:1;
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
    fill: red;
}

.animateDice {
    animation: diceRoll 1.5s ease-out;
    animation-iteration-count: 1;
}

@keyframes diceRoll {
    0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-30vh) rotate(90deg);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-10vh);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-7vh);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-4vh);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-2vh);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
    
}

.aboutBlurb {
    grid-column: 2 / 3;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1em;
    background-image: radial-gradient(var(--secondaryColor) 5%, var(--background) 70%);
    text-align:left;
    align-items: flex-start;
    transition: all .5s ease-out;
    transition-delay: 1s;
    opacity:0;
}

.aboutBlurb > * {
    padding:.2em 0em;
}

.aboutBlurb > h1 {
    font-family: var(--displayFont);
    font-size: var(--h1);
    text-shadow: var(--textShadow);
}

.aboutSubheader {
    font-size:var(--subheader);
    font-weight: var(--bold);
    color: var(--pink);
}

.aboutBodyCopy {
    line-height: 1.5em;
    font-style: italic;
    font-size: 1.2rem;
}

.aboutDiscordLink button {
    font-weight: var(--bold);
    border:3px solid var(--pink);
    color: var(--pink);
    padding:1em;
    font-size:1.2rem;
    background-color: transparent;
    font-family: var(--bodyCopy);
    cursor:pointer;
    margin:1em 0em 0em 0em;
    transition: all .3s ease-out;
}

.aboutDiscordLink button:hover {
    border:3px solid var(--fontColor);
    background-color: var(--fontColor);
    color: var(--pink);
}

.fadeInAboutBlurb {
    opacity: 1;
}

@media only screen and (max-width:930px) {

    .aboutWrapper {
        background-size: 200vw;
        background-position: left -20vw center;
    }

    .aboutCopy {
        grid-template-rows: none;
        grid-template-columns: none;
    }

    .d20 {
    display: none;
    }

    .aboutBlurb {
        grid-row: 2 / 3;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        background-color: var(--background);
        background-image: none;
    
    }

}

@media only screen and (max-width:425px) {

    .aboutWrapper {
        padding:.3em;
    }
}

