.floralBgWrap {
    position: relative;
    padding: 7% 0 0 0;
}

.floralBg {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/images/sect4Bg.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;
}

.sect4Header {
    padding: 0 0 3% 0;
}

.sect4Wrap {
    padding: 5px 24px;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

.sect4Content {
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    padding: 0 0 10vh 0;
}

.sect4Left {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.seshNum {
    font-style: italic;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    font-size: 17px;
}

.seshNum > span {
    display: inline-block;
    text-transform: uppercase;
    opacity: .4;
}

.seshNum > .countdownWrap {
    font-size: 12px;
    padding: 5px 7px;
    opacity: 1;
}


.seshName {
    font-size: 30px;
    margin: -6px 0 35px 0;
    line-height: 35px;
}

.seshSummary {
    color: var(--darkestGrey);
}

.sect4NavWrap {
    width: 100%;
    border-bottom:1px solid #8a525c6e;
    position: relative;
    padding: 5px 0;
    overflow: hidden;
}

.navHighlight {
    background-color: var(--darkPink);
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sect4NavWrap ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.sect4NavWrap li {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seshCarouselFrame {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.seshCarousel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    position: relative;
}

.seshCarousel > div {
    padding: 2%;
    width: 100%;
}

.seshVideo {
    position: relative;
    padding-bottom: 56.25%!important; /* 16:9 aspect ratio (height/width) */
    height: 0;
    overflow: hidden;
    
}

.videoEmbed {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      border: none;
}

.noVid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: var(--darkGrey)
}



/* * right side  */

.sect4Right {
    flex: 1.5;
    width: 100%;
    border-radius: 10px;
    width:100%;
    height: 75vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    backdrop-filter: blur(108px);
}


.prevSesh {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content) auto;
    row-gap: 5px;
    padding: 10px 12px;
}

.prevSeshNum {
    grid-column: 1 / 2;
    grid-row: 1 /2;
    opacity: .4;
}
.prevSeshDate {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    opacity: .4;
    font-size: 12px;
    align-items: center;
}
.prevSeshName {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.prevSeshSum {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    opacity: .4;
    font-style: italic;
    font-size: 12px;
}
.prevSeshLink {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    color: var(--darkGrey);
    display: flex;
    align-items: flex-end;
}

.prevSeshLink:hover {
    color: #000;
}

/* ? gallery  */

.seshGallery {
    display:grid;
    grid-template-columns: repeat(3, .8fr);
    grid-auto-flow: row;
    gap: 20px;
    overflow-y: scroll;
    height: 50vh;
}

.seshGallery img {
    width: 100%;
    opacity: .4;
    cursor: pointer;
}

.seshGallery img:hover {
    opacity: 1;
}

/* ! gallery open  */

.blackOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #0000009e;
    backdrop-filter: blur(7px);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.blackOverlayInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 30px;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    /* column-gap: 10vw; */
    position: relative;
    width: fit-content;
    height: fit-content;
}

.blackOverlayInner > div {
    display: flex;
    
}

.galaImg {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-items: flex-end;
    justify-content: center;
}

.blackOverlayInner img {
    height: 60vh;
}

.moveLeft, .moveRight, .closeGala {
    grid-row: 2 / 3;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
}

.moveLeft {
    grid-column: 1 / 2;
    
}
.moveRight {
    grid-column: 3 / 4;
    
}

.closeGala {
    grid-column: 2 / 3;
}



.overlayText {
    position: relative;
}

.overlayText > div {
    position: absolute;
    z-index: 15;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.imgLeft {
    left: 0;
}
.imgRight {
    right: 0;
}

.closeGala {
    color: #ff1a1c;
}

/* * footer  */

.footerWrap {
    background-color: var(--green);
    position: relative;
    padding: 1.5% 4%;
}

.footerContent {
    max-width: var(--maxWidth);
    width: 100%;margin: 0 auto;
}

.footerContent .displayLarge {
    font-size: 50px;
    padding: 0 0 10px 0;
    display: inline-block;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto max-content;
    row-gap: 10px;
}

.thanksSocials {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    padding: 10px 0 0 0;
}

.thanksSocials > span {
    text-decoration: underline;
    cursor: pointer;
}

.thankYou {
    grid-column: 1 / 4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
}

.spacerFooter {
    padding: 2% 0;
}

/* & responsive  */

@media only screen and (max-width: 768px) {

    .floralBg {
        background-size: 60vh;
    }
    .sect4Content {
        flex-direction: column;
        display: block;
    }

    .sect4Right {
        height: 150px;
        width: 100%;
        overflow-x: scroll;
        display: grid;
        grid-auto-flow: column;
        column-gap: 35px;
        margin: 20px 0 0 0;
        overflow-y: hidden;
    }

    .prevSesh {
        width: 200px;
        padding: 12px 0;
    }

    .seshName {
        font-size: 30px;
    }

    .blackOverlayInner img {
        height: auto;
        width: 90%;
    }

    .footerContent .displayLarge {
        font-size: 30px;
    }

    .footerGrid {
        display: flex;
        row-gap: 25px;
        flex-direction: column;
    }
}