@font-face {
    font-family: 'abhaya_librebold';
    src: url('./assets/abhaya-libre-fontfacekit/AbhayaLibre-Bold-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --lightWhite: #D9D9D9;
    --mediumWhite: #D2D2D2;
    --darkWhite: #CDCCCC;
    --gold: #C09A61;
    --pink: #DA7F90;
    --darkPink: #8A525C;
    --green: #52523A;
    --brown: #2E2420;
    --darkGrey: #8A8887;
    --darkestGrey: #4f4f4f;
    --displayFont: 'abhaya_librebold';
    --copyFont: "Lato", sans-serif;
    --fontBlack: 900;
    --fontBold: 700;
    --fontReg: 400;
    --maxWidth: 1080px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--lightWhite);
}

.fontBlack {
    font-weight: var(--fontBlack);
}
.fontBold {
    font-weight: var(--fontBold);
}

.green {
    color: var(--green);
}
.pink {
    color: var(--pink);
}
.darkPink {
    color: var(--darkPink);
}
.white {
    color: var(--lightWhite);
}
.brown {
    color: var(--brown);
}

.displayFont {
    font-family: var(--displayFont);
}
.copyFont {
    font-family: var(--copyFont);
}

.displayLarge {
    font-size: 70px;
}
.displayMedium {
    font-size: 50px;
}
.displaySmall {
    font-size: 20px;
}

.copyMedium {
    font-size: 25px;
}
.copyDefault {
    font-size: 15px;
    font-family: var(--copyFont);
}
.uppercase {
    text-transform: uppercase;
}

.blackOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #0000009e;
    backdrop-filter: blur(7px);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.blackOverlayInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 30px;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    /* column-gap: 10vw; */
    position: relative;
    width: fit-content;
    height: fit-content;
}

.blackOverlayInner > div {
    display: flex;
    height: 100%; 
}

.galaImg {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-items: flex-end;
    justify-content: center;
}

.blackOverlayInner img {
    height: 60vh;
}

.moveLeft, .moveRight, .closeGala {
    grid-row: 2 / 3;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
}

.moveLeft {
    grid-column: 1 / 2;
    
}
.moveRight {
    grid-column: 3 / 4;
    
}

.closeGala {
    grid-column: 2 / 3;
}

@media only screen and (max-width: 768px) {

    .displayMedium {
        font-size: 30px;
    }

    .blackOverlayInner img {
        height: auto;
        width: 90%;
    }

}

@media only screen and (max-width: 426px) {

    .copyMedium {
        font-size: 20px;
    }

    .copyDefault {
        font-size: 12px;
    }
}