.navWrapper {
    position: fixed;
    z-index: 5;
    background-color:transparent;
    transition: all .5s ease-out;
    transition-delay: .5s;
    width: 100%;
    height: 6em;
    padding:.5em;
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr) 3fr;
    opacity: 0;
}

.navBgColor {
    background-color: var(--secondaryColor);
}

.navAbout,
.navCast,
.navMusic,
.themeSwitchWrapper {
    display: flex;
    align-items: center;
}

.navAbout,
.navCast,
.navMusic {
    justify-content: center;
    text-transform: uppercase;
    font-weight: var(--bold);
    letter-spacing: 1.5px;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    margin:0px 1em;
    position: relative;
}

.navAbout::after,
.navCast::after,
.navMusic::after {
    content: '';
    display:block;
    border-bottom: solid 2px var(--fontColor);
    transform: scaleX(0);  
    transition: transform .3s ease-out;
    transform-origin:100% 50%;
    width: 100%;
    position: relative;
    top:10px;
}

.navAbout:hover::after,
.navCast:hover::after,
.navMusic:hover::after {
    transform: scaleX(1);
    transform-origin:0 50%;
}

.active::after {
    transform: scaleX(1);
    transform-origin:0 50%;
}

.themeSwitchWrapper {
    justify-content: flex-end;
    padding:0em 1.5em 0em 0em;
}

.navLogoWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
    top:-20vh;
    transition: top .5s ease-out;
    transition-delay: .5s;
}

.navLogoDrop {
    top:0px;
}

.navLogoWrapper > div {
    width: 100%;
    height: 100%;
}

.navLogo {
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.themeSwitch {
    --height: 25px;
    border:1px solid var(--fontColor);
    width: 60px;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.material-symbols-outlined {
    font-size: 1.2rem;
}

.themeButton {
    --dim: 25px;
    height: var(--dim);
    width: var(--dim);
    background-color: var(--fontColor);
    border-radius: calc(var(--dim) / 2);
    position: absolute;
    top:-1px;
    right:0px;
    z-index: 10;
    transition: all .5s ease-out;
}

.themeButtonSwitch {
    right:33px;
}

